<div id="preferences-stripe" class="stripe">
  <h1>Preferences</h1>

  <div id="tab-container"></div>

  <div id="preferences-container">
    <div id="user-details">
      <h2>User details</h2>

      <%= form_for(@changeset, Routes.preferences_path(@conn, :do_edit), fn f -> %>
        <%= hidden_input(f, :type, value: "edit", id: "edit-type") %>

        <%= label(f, :email, "Email address") %>
        <div class="input">
          <%= email_input(f, :email, minlength: 3, maxlength: 255) %>
          <%= error_tag(f, :email) %>
          <p class="help-block">
            Email is only used for important notifications about the service, not for promotions or spam.
          </p>
        </div>

        <%= label(f, :private_profile, "Private profile") %>
        <div class="input">
          <%= checkbox(f, :private_profile) %>

          <p class="help-block">
            Private profile can only be seen by yourself.
          </p>
        </div>

        <%= label(f, :gravatar_email, "Gravatar email") %>
        <div class="input">
          <%= email_input(f, :gravatar_email, minlength: 3, maxlength: 255) %>
          <%= error_tag(f, :gravatar_email) %>
          <p class="help-block">
            Email to use for displaying Gravatar. Can be the same or different as your main email. Email or its hash is not revealed to viewers.
          </p>
        </div>

        <div class="submit"><%= submit("Update preferences") %></div>
      <% end) %>
    </div>

    <div id="user-aliases">
      <h2>Language aliases</h2>

      <p>
        With this editor, you can configure user level language aliases. A language alias means that XP coming in with one language name is shown under another name in your profile. Aliases are case insensitive.
      </p>

      <p>
        Note that in addition to your own aliases, the service has global aliases that apply to all users. You can override those aliases too using this editor.
        <a href="<%= Routes.alias_path(@conn, :list) %>" target="_blank">See list of global aliases.</a>
      </p>

      <p>Please <a href="#aliases-help">read the help</a> before using the editor.</p>

      <%= form_for(@aliases_changeset, Routes.preferences_path(@conn, :do_edit), [class: "no-form-style", id: "aliases-editor-form" ], fn f -> %>
        <%= hidden_input(f, :type, value: "aliases", id: "edit-type") %>

        <%= for change <- Map.get(f.source.changes, :aliases, []) do %>
          <%= if not change.valid? do %>
            <p class="has-error">
              Alias from "<%= change.changes[:source] %>" to "<%= change.changes[:target] %>" has the following issues:
            </p>

            <ul class="has-error">
              <%= if change.errors[:source] do %>
                <li>Source: <%= translate_error(change.errors[:source]) %></li>
              <% end %>
              <%= if change.errors[:target] do %>
                <li>Target: <%= translate_error(change.errors[:target]) %></li>
              <% end %>
            </ul>
          <% end %>
        <% end %>

        <div id="aliases-editor">
          <textarea name="aliases" id="aliases">
            <%= @aliases_json %>
          </textarea>

          <div id="aliases-submit">
            <%= submit("Update aliases", id: "aliases-submit") %>
          </div>
        </div>
      <% end) %>

      <h3 id="aliases-help">Alias editor help</h3>

      <p>
        <ul>
          <li>An empty name in the target field will result in the language being hidden in your profile and its XP being removed from all your statistics.</li>
          <li>Aliases are case insensitive, so you cannot change only the casing of a language with this editor. If you need to do that, please contact the administrators.</li>
          <li>Aliases are not processed recursively, so a chain A → B, B → C will not lead to A → C.</li>
          <li>Any changes will require a reprocessing of the profile's XP cache, so it may take a moment before changes are seen on the profile page.</li>
          <li>Click on an alias name in the "Current data" tables to copy it to the clipboard.</li>
          <li>All changes are always reversible by undoing the aliases and saving.</li>
        </ul>
      </p>
    </div>

    <div id="change-password">
      <h2>Change password</h2>

      <%= form_for(@pass_changeset, Routes.preferences_path(@conn, :do_edit), fn f -> %>
        <%= hidden_input(f, :type, value: "password", id: "password-type") %>

        <%= label(f, :old_password, "Current password (required)") %>
        <div class="input">
          <%= password_input(f, :old_password, autocomplete: "current-password", required: true) %>
          <%= error_tag(f, :old_password) %>
          <p class="help-block">
            For security, to change your password, you need to also give your current password.
          </p>
        </div>

        <%= label(f, :password, "New password (required)") %>
        <div class="input">
          <%= password_input(f, :password, autocomplete: "new-password", required: true, minlength: 6) %>
          <%= error_tag(f, :password) %>
        </div>

        <div class="submit"><button type="submit">Change password</button></div>
      <% end) %>
    </div>

    <div id="export-data">
      <h2>Export data</h2>

      <div id="export-data-container">
        <p>
          Press the button below to download your XP data in CSV format. You can also include all
          private data contained in the service about your account. See the
          <a href="<%= Routes.page_path(@conn, :terms) %>">privacy policy</a> for more information.
        </p>

        <form>
          <label for="include-private-data">Include private data in CSV export</label>
          <input type="checkbox" id="include-private-data">

          <div class="submit">
            <button id="export-data-button" type="button">Download data</button>
          </div>
        </form>
      </div>

      <div id="export-data-processing"></div>
    </div>

    <div id="delete-account">
      <h2>Delete account</h2>

      <p>
        If you wish to delete your account, please input "DELETE" into the field below and press
        the delete button. If you do this, all your data will be removed and cannot be recovered.
      </p>

      <%= form_tag(Routes.preferences_path(@conn, :do_edit), method: :delete) %>
        <label><strong>This cannot be undone!</strong></label>
        <input type="text" class="form-control" name="delete_confirmation" maxlength="6" required />

        <div class="submit"><button type="submit" class="button-danger">Delete account forever</button></div>
      </form>
    </div>
  </div>
</div>
