section.top-flow-languages {
  grid-area: top-fl;

  .top-flow-languages-datalist {
    width: 100%;

    border-collapse: separate;
    border-spacing: 5px;
  }

  .top-flow-languages-heading {}

  .top-flow-language {
    width: 100%;

    * {
      margin: 0;
    }
  }

  .top-flow-language-flow-score-td {
    position: relative;
    padding: 0;
    text-align: center;
  }

  .top-flow-language-flow-score {
    @include smallinize-heading(1.5rem);
  }

  .top-flow-language-flow-score-base {
    background-color: $accent-background;
    color: $accent-text;
  }

  .top-flow-language-flow-score-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;

    overflow-y: hidden;

    background-color: $base-background;
  }
}
