section.top-flows {
  grid-area: top-f;
  align-self: flex-start;

  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: auto 1fr;
  column-gap: 5px;

  .top-flows-heading {
    grid-column: 1 / -1;
    text-align: left;
  }

  .top-flows-highlight {
    display: grid;
    grid-template-areas: 'desc' 'val' 'time';

    >* {
      margin: 0;
    }
  }

  .top-flows-highlight-val {
    grid-area: val;

    @include smallinize-heading(2rem);
  }

  .top-flows-highlight-description {
    grid-area: desc;

    //color: lighten($accent-background, 20%);
  }

  .top-flows-highlight-time {
    grid-area: time;
  }
}
